<div id="footer-parent">
    <div id="footer">
        <div class="footer-half" id=footer-info>
            <div class="footer-container">
                <div class="footer-container-title"><span>OUR STORE</span></div>
                <div class="footer-container-content">
                    <p>
                        Address: 500 Terry Francois Street<br>
                        San Francisco, CA 94158<br>
                        Phone: 123-456-7890<br>
                        Email:  info@my-domain.com<br>
                    </p>
                </div>
            </div>
    
            <div class="footer-container">
                <div class="footer-container-title"><span>OPENING HOURS</span></div>
                <div class="footer-container-content">
                    <p>
                        Mon - Fri: 7am - 10pm<br>
                        ​​Saturday: 8am - 10pm<br>
                        ​Sunday: 8am - 11pm<br>
                    </p>
                </div>
            </div>
    
            <div class="footer-container">
                <div class="footer-container-title"><span>HELP</span></div>
                <div class="footer-container-content">
                    <p style="text-decoration: underline;">
                        <span style="cursor: pointer" (click)="loadShop(ShopType.Shipping)">Shipping & Returns</span><br>
                        <span style="cursor: pointer" (click)="loadShop(ShopType.Privacy)">Privacy Policy</span><br>
                        <span style="cursor: pointer" (click)="loadShop(ShopType.FAQ)">FAQ</span><br>
                    </p>
                </div>
            </div>
        </div>
    
        <div class="footer-half" id="footer-subscribe">
            <div class="footer-container-title"><span>SUBSCRIBE</span></div>
            <form id="footer-subscribe-form">
                <div id="subscribe-left-container">
                    <label for="subscribe-email">Enter your email here</label>
                    <input type="email" id="subscribe-email" name="subscribe-email" value required placeholder="Email">
                </div>
                <div id="subscribe-right-container">
                    <div><button type="submit">Subscribe Now</button></div>
                </div>
            </form>
        </div>
    
        <div id="social-media-container">
            <div id="facebook-logo" class="social-media-logo"><img src="../../assets/images/facebook-logo.png"></div>
            <div id="pinterest-logo" class="social-media-logo"><img src="../../assets/images/pinterest-logo.png"></div>
            <div id="instagram-logo" class="social-media-logo"><img src="../../assets/images/instagram-logo.png"></div>
        </div>
    
        <div id="store-location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.7888391997567!2d-73.95093738451146!3d40.81063377932125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f66d41ac492d%3A0x5e0ed597787580df!2s250%20W%20127th%20St%2C%20New%20York%2C%20NY%2010027%2C%20USA!5e0!3m2!1sen!2ses!4v1597233283918!5m2!1sen!2ses" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    
</div>
