



* {
    /*border-style: dashed;*/
    /*box-shadow: inset 0px 0px 0px 1px red;*/
    /*border-width: 1px;*/
}
#footer-parent {
    padding:0 5vw 0 5vw;
    background-color: rgb(237,237,238);
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A3032;
    color: white;
    font-family: "Lato", "Nunito Sans", sans-serif;
}

.footer-half {
    margin: 100px 0 0 0;
}

#footer-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20vw;
}

.footer-container-title {
    letter-spacing: 0.45em;
    margin: 0 0 20px 0;
}

#footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-subscribe-form{
    display: flex;
    width: 425px;
}

#subscribe-left-container{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 0 20px 0 0;
}

#subscribe-left-container label{
    margin-bottom: 10px;
} 


#subscribe-left-container input {
    padding: 10px;
    background-color: #1A3032;
    font-family: "Lato", "Nunito Sans", sans-serif;
    color: white;
    border: 1px solid white;

}

#subscribe-left-container  ::placeholder {
    color: white;
}

#subscribe-right-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#subscribe-right-container button {
    width: 150px;
    height: 40px;
    background-color: white;
    transition: all 0.2s ease-in-out;
    color: #1A3032;
    border-width: 0px;
    cursor: pointer;
}
#subscribe-right-container button:hover {
    background-color: #44595B;
    color: white;    
}

#social-media-container {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 50px 0;

}

.social-media-logo {
    width: 30px;
    height: 30px;
}

.social-media-logo img {
    width: 100%;
    height: 100%;
}

#store-location {
    width: 80vw;
    height: 500px;
    margin: 0 0 50px 0;
}


@media only screen and (max-width: 1080px){
}

@media only screen and (max-width: 810px) {
    #footer-parent {
        padding: 0;
    }
    #footer-info {
        flex-direction: column;
        justify-content: center;
    } 
    .footer-container {
        width: 90vw;
        padding-bottom: 30px;
        font-size: 1.2em;
        font-weight: 300;
    }

    #store-location {
        width: 100%;
    }

}

@media only screen and (max-width: 500px) {
    #footer-subscribe-form{
        flex-wrap: wrap;
        width: 90vw;
    }

    #subscribe-left-container,
    #subscribe-right-container {
        flex-grow: 0;
        width: 90vw;
        padding: 0;
        justify-content: flex-start;
    }
    
    #subscribe-left-container input {
        width: 100%;
        box-sizing: border-box;
    }
    #subscribe-right-container  button {
        margin-top: 10px;
        width: 100%;
    }
}