* {
    /*border-style: dashed;*/
    /*box-shadow: inset 0px 0px 0px 1px red;*/
    /*border-width: 1px;*/
}

#shipping-container {
    background-color: white;
    /*background-color:  rgb(237,237,238);*/
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

#shipping {
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    /*background-color:  rgb(237,237,238);*/
    font-family: "Lato", "Nunito Sans", sans-serif;
    color:  #A86550;
    padding: 5% 0 10% 0;
}

#sections {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title{
    display: flex;
    justify-content: center;
    letter-spacing: 0.45em;
    font-size: 1.2em;
    text-align: center;
}

.section-content {
    text-align: center;
}

.separator {
    margin: 20px 0 20px 0;
    width: 1.5em;
    height: 5px;
    background-color: #A86550;
}


@media only screen and (max-width: 810px) {
    #shipping {
        width: 100%;
    }

    #sections {
        width: 80vw;
    }
}

@media only screen and (max-width: 600px) {
    #sections {
        width: 90vw;
    }

    #shipping {
        padding-bottom: 20%;
    }
}