@keyframes shop-button-hover-in {
    from {background-color: #A86550;}
    to {background-color: #D0B0A6;}
}
@keyframes shop-button-hover-out {
    from {background-color: #D0B0A6 ;}
    to {background-color: #A86550;}
}

* {
    /*border-style: dashed;*/
    /*box-shadow: inset 0px 0px 0px 1px red;*/
    /*border-width: 1px;*/
}

#body-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:  rgb(237,237,238);
}
#body {
    background-color:  rgb(237,237,238);
    font-family: "Lato", "Nunito Sans", sans-serif;
    transition: opacity 0.6s ease;
    opacity: 0;
    width: 90vw;
}

#company-name-container {
    background: url("assets/images/background-flowers.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#company-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100vh;
    background: rgba(26,48,50,0.5);
}

#company-logo-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 300;
    font-size: 1.2em;
}
.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 128px;
    letter-spacing: 0.45em;
    font-size: 0.9em;
    
}

.logo-text span {
    width: 5em;
    text-align: center;
}

.logo-text div {
    background-color: white;
    width: 4em;
    height: 2px;
}

#company-logo img {
    width: 100%;
    height: 100%;
}

#company-logo {
    width: 128px;
    height: 128px;
    display: inline-block;
}

#company-name-title {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 6em;
    font-weight: 700;
    letter-spacing: 0.12em;
    //height: 150px;
    margin: 50px 0 30px 0;
}

#company-name-subtitle {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    letter-spacing: 0.35em;
    height: 35px;
    font-size: 1.3em;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A86550;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color:white;
    height: 40px;
    width:180px;
}

.button:hover {
    background-color: #D0B0A6;
}
#shop-button {
    margin-top: 50px;
}

#product-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(237,237,238);
    padding: 60px 0 60px 0;
}

.product {
    --prodWidth: 27vw;
    width: 27vw;
    height: calc(1.368038741 * var(--prodWidth));
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.product-title {
    display: flex;
    justify-content: center;
    color: #A86550;
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    padding-top: 30px;
    
}

.underline-separator {
    width: 2em;
    height: 3px;
    background-color: #A86550;
    margin: 10px 0 20px 0;
}

#cacti-container {
    background-image: url("assets/images/product-cactii.png");
}
#plants-container {
    background-image: url("assets/images/product-plants.png");
}

#socculents-container {
    background-image: url("assets/images/product-succulents.png");
}

#about-scroll-marker {
    position: relative;
    bottom: 60px;
}

#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
}

#about-us {
    width: 45vw;
    height: 498px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #A86550;
    font-weight: 400;
}

#about-us-title {
    letter-spacing: 0.45em;
}
#about-us-paragraphs {
    width: 80%;
    text-align: center;
}

#pic12 {
    width: 45vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#pic1 {
    background-image: url("assets/images/banner1.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 498px;
    width: 22.5vw;
}
#pic2 {
    background-image: url("assets/images/banner2.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 498px;
    width:22.5vw;
}

#pic3 {
    background-image: url("assets/images/banner3.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: -20px 0%;
    height: 700px;
    width: 45vw;
}

#about-buy-now {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:45vw;
    background-color: #1A3032;

}
#about-buy-now-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A86550;
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    width: 70%;
    height: 70%;
}

#requests-container {
    background: url("assets/images/background-flowers-2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#requests-marker {
    width: 20px;
    height: 0;
    position: relative;
    bottom: 60px;
}
#requests {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(0,0,0,0.1);
}

#requests-title {
    width: 76vw;
    display: flex;
    justify-content: center;
    color: #A86550;
    letter-spacing: 0.45em;
    font-size: 1.2em;
    text-align: center;
}

#form {
    width: 70vw;
    font-family: "Lato", "Nunito Sans", sans-serif;
}

#form label {
    font-weight: 300;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
}


#form-name-email-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#form-name-email-container div {
    width: 48%;
}

#form input {
    color: #123132;
    padding: 10px;
    font-size: 1.2em;
}

#form-text-area-container {
    height: 200px;
}
#form-textarea {
    resize: none;
    font-family: "Lato", "Nunito Sans", sans-serif;
    color: #123132;
    padding: 10px;
    font-size: 1.2em;
}

#form button {
    background-color: #A86550; 
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color:white;
    height: 40px;
    width: 100%;
    border: none;
    margin-top: 20px;
}

#form button:hover {
    background-color: #D0B0A6;
}

@media only screen and (max-width: 1080px){
    #body {
    }

    #company-name-title {
        font-size: 4em;
        justify-content: center;
        margin: 30px 0 10px 0;

    }
    #about-buy-now-text-container {
        font-size: 4em;
    }
}

@media only screen and (max-width: 810px) {

    #body {
        width: 100vw;
    }
    #company-name-container, 
    #requests-container {
        background-attachment: scroll;
    }
    .product {
        --prodWidth: 100vw;
        width: 100vw;
        margin: 30px 0 0 0;

    }

    #product-categories {
        flex-direction: column;
        align-items: center;
    }
    #about, #about-us, #pic12, #pic1, #pic2, #pic3, #about-buy-now {
        width: 100vw;
    }

    #pic1, #pic2, #pic3 {
        height: 332px;
        background-size: 100vw auto;
        -webkit-background-size: 100vw auto;
        -moz-background-size: 100vw auto;
        -o-background-size: 100vw auto;
        background-position: 0 -300px;
    }
    #pic3 {
        background-position: 0 -300px; 
    }

    #about-us {
        height: 550px;
    }

    #about-us .underline-separator {
        position: relative;
        top: 10px;
    }

    #about-us-title {
        font-size: 1.2em;
    }
    #about-us-paragraphs {
        width: 90vw;
        font-size: 1.2em;
        font-weight: 300;
    }
    #about-buy-now {
        height: 498px;
    }
    #about-buy-now-text-container {
        max-width: 400px;
        width: 90%;
    }

    #form-name-email-container div{
        width: 95vw;
    }

    #form {
        width: 90vw;
    }
    #requests {
        height: 120vh;
    }
    #requests-title {
        margin-top: 40px;
        width: 90vw;
    }
}

@media only screen and (max-width: 600px) {
    #company-name-title {
        font-size: 3em;
    }
    #company-name-subtitle {
        font-size: 1em;
    }

    #pic1, #pic2, #pic3 {
        height: 332px;
        background-size: 100vw auto;
        -webkit-background-size: 100vw auto;
        -moz-background-size: 100vw auto;
        -o-background-size: 100vw auto;
        background-position: 0 -200px;
    }
    #pic3 {
        background-position: 0 -100px; 
    }
}

@media only screen and (max-width: 450px) {
    

    #company-name-title {
        font-size: 2em;
    }
    #company-name-subtitle {
        font-size: 1em;
    }

    #about-buy-now-text-container {
        font-size: 3em;
    }

    #pic1, #pic2, #pic3 {
        height: 332px;
        background-size: 100vw auto;
        -webkit-background-size: 100vw auto;
        -moz-background-size: 100vw auto;
        -o-background-size: 100vw auto;
        background-position: 0 -150px;
    }
    #pic3 {
        background-position: 0 -50px; 
    }
}