
* {
    /*border-style: dashed;*/
    /*box-shadow: inset 0px 0px 0px 1px red;*/
    /*border-width: 1px;*/
}

#copyright {
    display: flex;
    justify-content: center;
    font-family: "Lato", "Nunito Sans", sans-serif;
    color: #A86550;
    font-weight: 300;
    padding: 30px 0 30px 0;
    background-color: rgb(237,237,238);
}