
* {
    /*border-style: dashed;*/
    /*box-shadow: inset 0px 0px 0px 1px red;*/
    /*border-width: 1px;*/
}

@keyframes buy-button-hover-in {
    from {background-color: #A86550;}
    to {background-color: #D0B0A6;}
}
@keyframes buy-button-hover-out {
    from {background-color: #D0B0A6 ;}
    to {background-color: #A86550;}
}


#shopping-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    transition: background-color 0.7s ease-in-out;
    background-color: rgba(0,0,0,0);
}

#left-shadow {
    width: 70vw;
    flex-grow: 1;
}

#right-shopping-container {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* VALUES WHEN VISIBLE
    right: 0;
    */
    right: -30vw;
    transition: right 0.5s ease;
    background-color: #1A3032;
    position: relative;
}

#right-shopping {
    width: 90%;    
    height: 90%;
    font-family: "Lato", "Nunito Sans", sans-serif;
    color: #A86550;
    transition: opacity 0.2s ease;
    opacity: 0;
    
}

#hide-icon {
    position: absolute;
    font-size: 2em;
    cursor: pointer;
}
#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
}

#empty-placeholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2em;
    
}

#items-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 50%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.item {
    flex-direction: row;
    align-content: center;
    padding: 30px 0;
    //background-color: dodgerblue;
}

.item-container {
    display: flex;
    flex-direction: row;
    //background-color: rgba(0,0,0,0.25);
    padding: 0;
    margin: 0;
}

.item-image{
    width: 80px;
    height: 80px;
    position: relative;
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: auto;
    left: 0;

}
.item-image img{
    width: 100%;
    height: 100%;
}


.item-right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-separator {
    width: 70%;
    height: 1px;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #A86550;
    
}

.quantity-selector {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 25px;
    background-color: white;
    width: fit-content;
}

.change-quantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: white;
    color: rgb(130,130,130);
    padding: 5px;
    cursor: pointer;
    border: 0;
}

.change-quantity:hover {
    color: black;
}
.change-quantity:disabled {    
    color: rgb(130,130,130);
    cursor: default;
}

.input-quantity {
    border-width: 0px;
    border-radius: 0px;
    margin: 0;
    width: 35px;
    text-align: center;
}

.remove-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;
    position: relative;
    left: 90%;
    transition: opacity 0.2s ease;
    opacity: 0;
    cursor: pointer;
    font-weight: 300;
    border: 1px solid #A86550;
    border-radius: 17px;
    padding: 2px 2px 2px 2px;
}

#subtotal-title {
    font-size: 1.5em;
}

#subtotal-price {
    font-size: 1.5em;
}

#separator {
    width: 100%;
    height: 1px;
    background-color: #A86550;
    margin: 40px 0;
}

#view-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: #A86550;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#view-cart:hover {
    background-color: #D0B0A6;
}

@media only screen and (max-width: 1080px){

    #right-shopping-container {
        width: 40vw;
    }
}


@media only screen and (max-width: 810px){

    #left-shadow {
        width: 0;
    }

    #right-shopping-container {
        width: 100vw;
        right: -100vw;
        align-items: flex-start;
    }
    #right-shopping {
        width: 80vw;
        height: 80vh;
        position: relative;
        top: 5%;
    }

    .remove-item {
        opacity: 1;
    }

    #separator {
        margin: 20px 0;

    }
}