@keyframes buy-button-hover-in {
    from {background-color: #A86550;}
    to {background-color: #D0B0A6;}
}
@keyframes buy-button-hover-out {
    from {background-color: #D0B0A6 ;}
    to {background-color: #A86550;}
}



* {
    /*box-shadow: inset 0px 0px 0px 1px red;*/
    /*border-style: dashed;
    border-width: 1px;*/
}

#product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", "Nunito Sans", sans-serif;
    width: 100%;
    color: #A86550;
    margin-top: 50px;

}
#product-image {
    width: 100%;
}

#product-image-hover {
    display: none;
}

img{
    width: 100%;
    height: 100%;
}

#buy {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A86550;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color:white;
}

#buy:hover {
    background-color: #D0B0A6;
}

#buy ::selection {
    color: none;
    background: none;
}

#description {
    margin-top: 5px;
}