* {
    /*box-shadow: inset 0px 0px 0px 1px red;*/
    /*border-style: dashed;
    border-width: 1px;*/
}

#product-page-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:  rgb(237,237,238);

}
#product-page {
    font-family: "Lato", "Nunito Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  rgb(237,237,238);
    padding: 0 0 20px 0;
    width: 90vw;
    transition: opacity 0.5s ease;
    opacity: 0;
}

#title-container {
    height: 95vh;
    background-attachment: fixed;
}

#title-filter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(26,48,50,0.5);
    color:white;
    text-align: center;
}
#title {
    margin-top: auto;
    position: relative;
    top: 50px;
    width: 75%;
    font-size: 4.5em;
    text-align: center;
    font-weight: 700;
}

#back-to-all {
    position: absolute;
    font-weight: 400;
    cursor: pointer;
    top: 80px;
}

#back-to-all:hover {
    font-weight: 700;
}

#subtitle {
    width: 60%;
    margin-top: 10px;
    position: relative;
    top: 50px;
}

#scroll-to-products{
    margin-top: auto;
    margin-bottom: 70px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 650px;
}

#scroll-to-products img {
    width: 100%;
    height: 100%;
}

#scroll-marker {
    position: absolute;
    top: calc(95vh - 60px);
}

#category-name {
    padding-top: 40px;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.2em;
}
#grid-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


app-product {
    width: 27vw;
}

/*

background: url("assets/images/background-flowers.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
*/


@media only screen and (max-width: 1080px){
    
}

@media only screen and (max-width: 810px) {

    #product-page {
        width: 100vw;
    }
    #title-container {
        background-attachment: scroll;
    }
    #title-container {
        height: 100vh;
    }

    #scroll-marker {
        bottom: 60px;
    }

    #scroll-to-products{
        margin-bottom: 80px;
    }

    #title-container {
        width: 100vw;
    }
    #title {
        width: 90vw;
        font-size: 3em;
    }

    #subtitle {
        width: 80vw;
    }
    #grid-items {
        margin: 0 20px;
    }
    app-product {
        width: 45vw;
    }
}

@media only screen and (max-width: 600px) {
    #title {
        font-size: 2.5em;
    }    

    app-product {
        width: 90vw;
    }
}

@media only screen and (max-width: 450px) {
    #category-name {
        font-size: 2em;
        letter-spacing: 0em;
    }

    #scroll-marker {
        top: calc(100vh - 60px);
    }
}
